.profile-image {
  position: relative;
  width: 130px;
  margin: auto;
}

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;

}

.form-container {
  width: auto;
  padding: 3%;
  background-image:linear-gradient(to top, rgb(207, 217, 223,0.6) 0%, rgb(226, 235, 240,0.6) 100%), url(../../../../assets/img/detodo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.formulario{
  width: auto;
  margin-top: 3%;
  text-align: center;
}
mat-form-field{
  display: inline-block;
  width: 40%;
  margin: 1% 4%;
}
.btn{
  width: 30%;
  background-color: greenyellow;
  text-align: center;
}