<form (submit)="addPost()" [formGroup]="post">
<h2 mat-dialog-title>Crear publicacion</h2>
<mat-dialog-content class="mat-typography">
  

    <div class="form-contenido">
      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Titulo</mat-label>
        <input matInput autocomplete="off" 
        type="text"
        formControlName="titulo"
        required
        />
        <mat-error *ngIf="titulo?.errors?.['required']">
          Introduzca un titulo
        </mat-error>
        <!-- <mat-error *ngIf="titulo?.errors?.['minLenght']">
          Introduzca mas de 4 letras
        </mat-error> -->
      </mat-form-field>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea matInput 
        placeholder="mensaje" 
        type="text"
        formControlName="descripcion"
        required
        ></textarea>
        <mat-error *ngIf="descripcion?.errors?.['required']">
          Introduzca una descripcion
        </mat-error>
      </mat-form-field>
    
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon>not_interested</mat-icon>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit"><mat-icon>add_circle</mat-icon>Publicar</button>
</mat-dialog-actions>
</form>


