<mat-stepper labelPosition="bottom" #stepper>

  <mat-step [stepControl]="primeroFormGroup">
    <ng-template matStepLabel>Arte</ng-template>
    <div class="imagen" style="background-image: url(../../../assets/img/La\ noche\ estrellada.jpg);">
    </div>
    <div>
      <!-- Contenido de Arte -->
      <mat-card class="">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Medium</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content>
          <img mat-card-md-image src="../../../../assets/img/arte.jpg">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus aut perspiciatis. Placeat
            repudiandae sunt porro exercitationem? Deleniti, iste impedit reiciendis doloribus beatae distinctio ipsam
            iure hic inventore, exercitationem cum?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet earum cupiditate deserunt praesentium ut
            cumque iusto est, aut optio placeat, dicta, laborum delectus inventore explicabo! Tenetur tempora deleniti
            est nemo?
          </p>
  

         <div class="botones">
          <button mat-raised-button color="primary">
            <mat-icon>thumb_up_alt</mat-icon>
            Like
          </button>
          <button mat-raised-button color="primary">
            <mat-icon>thumb_down_alt</mat-icon>
            Dislike
          </button>
          <button mat-raised-button color="accent">
            <mat-icon>sms</mat-icon>
            Comentarios
          </button>
         </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Medium</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content>
          <img mat-card-md-image src="../../../../assets/img/aventura2.jpg">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus aut perspiciatis. Placeat
            repudiandae sunt porro exercitationem? Deleniti, iste impedit reiciendis doloribus beatae distinctio ipsam
            iure hic inventore, exercitationem cum?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet earum cupiditate deserunt praesentium ut
            cumque iusto est, aut optio placeat, dicta, laborum delectus inventore explicabo! Tenetur tempora deleniti
            est nemo?
          </p>
  

         <div class="botones">
          <button mat-raised-button color="primary">
            <mat-icon>thumb_up_alt</mat-icon>
            Like
          </button>
          <button mat-raised-button color="primary">
            <mat-icon>thumb_down_alt</mat-icon>
            Dislike
          </button>
          <!-- <button mat-raised-button color="accent">
            <mat-icon>sms</mat-icon>
            Comentarios
          </button> -->
          <mat-accordion>
            <mat-expansion-panel hideToggle>

              <mat-expansion-panel-header>
                <mat-panel-title>
                  Comentarios
                </mat-panel-title>
              </mat-expansion-panel-header>
            
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>




              <form class="">
                <mat-form-field class="comentario" appearance="fill">
                  <mat-label>Message</mat-label>
                  <input matInput #message maxlength="256">
                  <mat-hint align="start"><strong>No revelar información personal</strong> </mat-hint>
                  <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
                <button mat-raised-button color="primary">
                  <mat-icon> message</mat-icon>

                </button>
              </form>
              
            </mat-expansion-panel>
          </mat-accordion>
          
         </div>
        </mat-card-content>
      </mat-card>

    </div>
  </mat-step>

  <mat-step [stepControl]="segundoFormGroup">
    <ng-template matStepLabel>Aventura</ng-template>

    <div class="imagen" style="background-image: url(../../../assets/img/aventura2.jpg);">
    </div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="terceroFormGroup">
    <ng-template matStepLabel>Belleza</ng-template>
    <div class="imagen" style="background-image: url(../../../assets/img/belleza2.jpg);">
    </div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="cuartoFormGroup">
    <ng-template matStepLabel>Comida</ng-template>
    <div class="imagen" style="background-image: url(../../../assets/img/comida2.jpg);">
    </div>


    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="quintoFormGroup">
    <ng-template matStepLabel>Naturaleza</ng-template>

    <div class="imagen" style="background-image: url(../../../assets/img/naturaleza2.png);">
    </div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

</mat-stepper>