<!-- Para Agregar publicaciones -->
<div>
  <button mat-raised-button color="accent" (click)="openDialog()">
    <mat-icon>library_add</mat-icon>
    Agregar tema</button>
</div>

<div *ngFor="let post of post" class="publicaciones">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" ></div>
<!-- *ngIf="user$ | async as user" -->
      <mat-card-title>{{post.titulo}}</mat-card-title>
      <mat-card-subtitle>Autor</mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{post.fecha}}
      </p>
      <p>
        {{post.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="accent" [routerLink]="['/agregar-publicacion/',post.id]">
      <mat-icon>editor</mat-icon>
        Editar
      </button>
      <button mat-raised-button color="warn" (click)="eliminarPost(post)">
        <mat-icon>delete</mat-icon>
          Eliminar
        </button>
    </mat-card-actions>
  </mat-card>
  
</div>


